# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

In [3]:
import pandas as pd
# print(f'I am using {pd.__name__} Version: {pd.__version__}.')
# print(f'It is installed at: {pd.__path__}')

In [4]:
climbing = pd.read_csv('data/data8.csv')

In [5]:
# here is what i do not know. i don't know what parts of the world has the most multipicth sport 5.7 climbing. what 
# parts have the most multipitch 5.8.  
# which countries have the most multipitch 5.8. What about 5.9?
# what is the top rated areas?
# problem: what do i care about the most, the top rated climbs of the highest climbs. for me the sweet spot is the 4 to 7 pitch
# I want to be able to extract meaningful regional information from the Location data (Europe/USA/State)

In [6]:
climbing.head()
# some Locations have missing data.
# lenght in meters needs to be calculated from the length feet
# some Route Types have missing data
# some Protection Ratings and Aid Climbing Grading has missing data

,Route,URL,Avg Stars,Pitches,Length (feet),Length (meters),Area Latitude,Area Longitude,Loc 1,Loc 2,Loc 3,Loc 4,Loc 5,Loc 6,Route Type 1,Route Type 2,Route Type 3,Class,Protection Rating,Aid Climbing Grading
0,Sea of Holes,https://www.mountainproject.com/route/10585017...,3.7,2,350.0,107,31.92218,-106.04789,Central Wall,North Mountain,Hueco Tanks,Texas,NaN,NaN,Sport,NaN,NaN,5.9+,R,NaN
1,Fantastic,https://www.mountainproject.com/route/10766674...,3.8,4,470.0,143,36.39160,-81.04730,Stone Mountain South Face,Stone Mountain,3. Piedmont Region,North Carolina,NaN,NaN,Sport,Trad,NaN,5.9+,PG13,NaN
2,The Morgul Vale,https://www.mountainproject.com/route/11175099...,3.1,8,800.0,244,44.30132,-122.14792,South East Face,Wolf Rock,Willamette Valley,Oregon,NaN,NaN,Sport,NaN,NaN,5.9+,PG13,NaN
3,Spontaneous Order,https://www.mountainproject.com/route/10630984...,2.6,4,350.0,107,34.58355,-119.26301,Central Gully,The Fortress,Hwy 33/Ojai,Central Coast,California,NaN,Sport,NaN,NaN,5.9+,PG13,NaN
4,Eagle's Dare,https://www.mountainproject.com/route/11372853...,3.9,8,710.0,216,43.05188,-122.64633,Acker Rock,Southwest Oregon,Oregon,NaN,NaN,NaN,Sport,NaN,NaN,5.9+,PG13,NaN

In [7]:
type(climbing)

pandas.core.frame.DataFrame

In [8]:
climbing.shape

(926, 20)

In [9]:
climbing.columns

Index(['Route', 'URL', 'Avg Stars', 'Pitches', 'Length (feet)',
       'Length (meters)', 'Area Latitude', 'Area Longitude', 'Loc 1', 'Loc 2',
       'Loc 3', 'Loc 4', 'Loc 5', 'Loc 6', 'Route Type 1', 'Route Type 2',
       'Route Type 3', 'Class', 'Protection Rating', 'Aid Climbing Grading'],
      dtype='object')

In [10]:
pd.DataFrame(climbing.dtypes, columns = ['DataTypes'])

                     DataTypes
Route                   object
URL                     object
Avg Stars              float64
Pitches                  int64
Length (feet)          float64
Length (meters)         object
Area Latitude          float64
Area Longitude         float64
Loc 1                   object
Loc 2                   object
Loc 3                   object
Loc 4                   object
Loc 5                   object
Loc 6                   object
Route Type 1            object
Route Type 2            object
Route Type 3            object
Class                   object
Protection Rating       object
Aid Climbing Grading    object

In [11]:
climbing['Route Type 1'].value_counts()

Sport    904
Trad      14
TR         8
Name: Route Type 1, dtype: int64

In [12]:
climbing_class = pd.DataFrame(climbing['Class'].value_counts(ascending=False))
climbing_class.index.name = 'Class Rating'
climbing_class.sort_values('Class Rating', ascending=False, inplace=True)
climbing_class
# i want to graph this. not a pie chart. A bar chart. I want to graph a subsection of this list. like all climbings under 5.9-

              Class
Class Rating
5.9-             27
5.9+             89
5.9             227
5.8-             15
5.8+             42
5.8             139
5.7+             17
5.7              95
5.10a/b          44
5.10a           192
5.10-            39

In [13]:
stars = pd.DataFrame(climbing['Avg Stars'].value_counts())
stars.index.name = 'Stars'
stars.columns=['Number of Routes']
stars.sort_values('Stars', ascending=False, inplace=True)
stars
# i want to figure out how to ascending by the (is it called index?) left most column

       Number of Routes
Stars
4.0                  56
3.9                   7
3.8                  13
3.7                  14
3.6                   9
3.5                  45
3.4                  17
3.3                  61
3.2                  26
3.1                  30
3.0                 273
2.9                  33
2.8                  54
2.7                  68
2.6                  47
2.5                 106
2.4                  43
2.3                  24

In [14]:
protection = pd.DataFrame(climbing['Protection Rating'].value_counts())
protection.index.name = "Rating"
protection
#i want to graph this also. not a pie chart.

        Protection Rating
Rating
PG13                   72
R                      21
X                       1

In [15]:
pitches = pd.DataFrame(climbing['Pitches'].value_counts())
pitches.columns=['Number of Routes']
pitches.index.name = 'Pitches'
pitches.sort_values('Pitches', ascending=False, inplace=True)
pitches
# I want to do a graph of this. Not a pie chart. Not a scatter. Bar chart.

         Number of Routes
Pitches
19                      2
18                      1
17                      1
15                      1
14                      3
13                      1
12                      9
11                      9
10                     12
9                      19
8                      24
7                      37
6                      36
5                      66
4                     105
3                     157
2                     443

In [16]:
climbing['Route Type 1'].nunique()
#this is not true, see below

3

In [17]:
climbing['Route Type 1'].unique()

array(['Sport', 'TR', 'Trad'], dtype=object)

In [18]:
null_df = pd.DataFrame(climbing.isnull().sum(), columns =['Count of Nulls'])
null_df.index.name = 'Column'
null_df.sort_values('Count of Nulls', ascending=False, inplace=True)
null_df

                      Count of Nulls
Column
Aid Climbing Grading             914
Route Type 3                     910
Loc 6                            884
Protection Rating                832
Loc 5                            747
Route Type 2                     717
Loc 4                            597
Loc 3                            296
Length (meters)                   92
Length (feet)                     92
Loc 1                              0
Loc 2                              0
URL                                0
Area Longitude                     0
Area Latitude                      0
Route Type 1                       0
Pitches                            0
Class                              0
Avg Stars                          0
Route                              0

In [19]:
climbing.fillna(value={'Loc 3':'-', 'Loc 4':'-', 'Loc 5': '-', 'Loc 6': '-', 'Length (feet)':'Not Measured', 'Protection Rating':'G or PG', 'Aid Climbing Grading':'Not Given', 'Route Type 3':'-', 'Route Type 2':'-'}).head(10)

Column,Route,URL,Avg Stars,Pitches,Length (feet),Length (meters),Area Latitude,Area Longitude,Loc 1,Loc 2,Loc 3,Loc 4,Loc 5,Loc 6,Route Type 1,Route Type 2,Route Type 3,Class,Protection Rating,Aid Climbing Grading
0,Sea of Holes,https://www.mountainproject.com/route/10585017...,3.7,2,350,107,31.92218,-106.04789,Central Wall,North Mountain,Hueco Tanks,Texas,-,-,Sport,-,-,5.9+,R,Not Given
1,Fantastic,https://www.mountainproject.com/route/10766674...,3.8,4,470,143,36.39160,-81.04730,Stone Mountain South Face,Stone Mountain,3. Piedmont Region,North Carolina,-,-,Sport,Trad,-,5.9+,PG13,Not Given
2,The Morgul Vale,https://www.mountainproject.com/route/11175099...,3.1,8,800,244,44.30132,-122.14792,South East Face,Wolf Rock,Willamette Valley,Oregon,-,-,Sport,-,-,5.9+,PG13,Not Given
3,Spontaneous Order,https://www.mountainproject.com/route/10630984...,2.6,4,350,107,34.58355,-119.26301,Central Gully,The Fortress,Hwy 33/Ojai,Central Coast,California,-,Sport,-,-,5.9+,PG13,Not Given
4,Eagle's Dare,https://www.mountainproject.com/route/11372853...,3.9,8,710,216,43.05188,-122.64633,Acker Rock,Southwest Oregon,Oregon,-,-,-,Sport,-,-,5.9+,PG13,Not Given
5,Karabore to Brid za Veliki cecik,https://www.mountainproject.com/route/11680311...,4.0,12,900,274,44.30671,15.47783,Stup G17-20,Anica kuk,National Park of Paklenica,Croatia,Europe,International,Sport,-,-,5.9+,PG13,Not Given
6,Le Diedre Sud,https://www.mountainproject.com/route/11193334...,4.0,4,560,171,44.31472,5.69507,Quiquillon,Orpierre,Southern Alps,France,Europe,International,Sport,-,-,5.9+,PG13,Not Given
7,The Corona Jewel,https://www.mountainproject.com/route/11876674...,4.0,2,60,18,53.46853,-113.56529,Horizon Village Wall,Whitemud Creek,Alberta,Canada,North America,International,Sport,-,-,5.9+,PG13,Not Given
8,Aerial Combat,https://www.mountainproject.com/route/10739789...,3.0,3,240,73,33.51920,-111.96940,Gargoyle Wall,Camelback Mountain,Central Arizona,Arizona,-,-,Sport,-,-,5.9+,PG13,Not Given
9,Tough Animals,https://www.mountainproject.com/route/10666776...,3.5,2,100,30,35.24816,-114.71166,Dali Dome,Christmas Tree Pass,Nevada,-,-,-,Sport,-,-,5.9+,PG13,Not Given