# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

In [10]:
import pandas as pd
# print(f'I am using {pd.__name__} Version: {pd.__version__}.')
# print(f'It is installed at: {pd.__path__}')

In [14]:
climbing = pd.read_csv('data/data.csv')

In [19]:
climbing.head()

,Route,Location,URL,Avg Stars,Your Stars,Route Type,Rating,Pitches,Length,Area Latitude,Area Longitude
0,Flyboys,Goat Wall > Mazama > Okanogan > Washington,https://www.mountainproject.com/route/11366537...,3.1,-1,Sport,5.9,18,1800.0,48.62285,-120.44865
1,Playin' Hooky,Creek Side > Clear Creek Canyon > Golden > Col...,https://www.mountainproject.com/route/10670163...,3.3,-1,Sport,5.8,4,400.0,39.74102,-105.41042
2,Tachycardia,Heart Rock > Heart Rock Area > Maple Canyon Ro...,https://www.mountainproject.com/route/10766953...,3.7,-1,Sport,5.7,3,300.0,39.55610,-111.67080
3,Big Bad Wolf,Riding Hood Wall > 01-Calico Basin > Red Rock ...,https://www.mountainproject.com/route/10733921...,3.1,-1,Sport,5.9,3,220.0,36.14947,-115.42673
4,Star Chek,Galaxy Buttress > The Gorge > Sea to Sky (Squa...,https://www.mountainproject.com/route/10710479...,3.4,-1,Sport,5.8+,3,400.0,49.92400,-123.16750

In [16]:
type(climbing)

pandas.core.frame.DataFrame

In [20]:
climbing.shape

(926, 11)

In [21]:
climbing.columns

Index(['Route', 'Location', 'URL', 'Avg Stars', 'Your Stars', 'Route Type',
       'Rating', 'Pitches', 'Length', 'Area Latitude', 'Area Longitude'],
      dtype='object')

In [23]:
pd.DataFrame(climbing.dtypes, columns = ['DataTypes'])

               DataTypes
Route             object
Location          object
URL               object
Avg Stars        float64
Your Stars         int64
Route Type        object
Rating            object
Pitches            int64
Length           float64
Area Latitude    float64
Area Longitude   float64

In [31]:
climbing[['Location']]
# I want to separate out every time there is a " > " into new columns. 
# The problem is I don't know how!

                                              Location
0           Goat Wall > Mazama > Okanogan > Washington
1    Creek Side > Clear Creek Canyon > Golden > Col...
2    Heart Rock > Heart Rock Area > Maple Canyon Ro...
3    Riding Hood Wall > 01-Calico Basin > Red Rock ...
4    Galaxy Buttress > The Gorge > Sea to Sky (Squa...
..                                                 ...
921  Punta Delle Cinque Dita > Sassolungo (Langkolf...
922  High Peaks > Pinnacles National Park > Central...
923  09. Dark Side of the Moon > Mortal Earth > The...
924  South Face > The Skull > Lake Arrowhead Pinnac...
925  Les Chèserys > Valley crags > Chamonix Mont Bl...

[926 rows x 1 columns]

In [35]:
climbing['Rating'].value_counts()
# I also want to separate out the PG13, R, and X into a new column with a 
# 4th rating called 'Not rated'
# I am setting rules like 5.9- will be a 5.8
# 5.8- will be a 5.7

5.9             205
5.10a           176
5.8             118
5.7              82
5.9+             74
5.8+             40
5.10a/b          37
5.10-            35
5.9-             23
5.7+             15
5.10a PG13       14
5.8-             13
5.9+ PG13        13
5.8 PG13         13
5.9 PG13         12
5.9 R             8
5.7 PG13          6
5.9- PG13         3
5.7 R             3
5.10a/b PG13      3
5.8 R             3
5.10- PG13        2
5.10- R           2
5.8 A0            2
5.8 C0            2
5.7 C0            2
5.8+ PG13         2
5.10a R           2
5.7+ PG13         2
5.8- PG13         2
5.8 X             1
5.9+ A0           1
5.10a/b A1 R      1
5.9 V1            1
5.9- A0           1
5.9 A0            1
5.10a/b R         1
5.10a/b A0        1
5.7 A0            1
5.7 A1            1
5.9+ R            1
5.10a A0          1
Name: Rating, dtype: int64

In [37]:
climbing['Avg Stars'].value_counts(ascending=True)
# i want to figure out how to ascending by the (is it called index?) left most column

3.9      7
3.6      9
3.8     13
3.7     14
3.4     17
2.3     24
3.2     26
3.1     30
2.9     33
2.4     43
3.5     45
2.6     47
2.8     54
4.0     56
3.3     61
2.7     68
2.5    106
3.0    273
Name: Avg Stars, dtype: int64

In [39]:
climbing['Route Type'].value_counts()
# i want to separate these out by their own columns Sport, Trad, Alpine, TR, Aid, Boulder
# I must alphabatize this first! for example, instead of 'Trad, Sport', I want 'Sport, Trad'. That way the data is organized
# when I separate it out into its own distince column

Sport                  709
Trad, Sport            117
Sport, Alpine           50
Trad, TR                12
Sport, Aid              10
TR                       8
Trad, Sport, Alpine      8
Sport, TR                3
Trad, Sport, TR          2
Sport, Aid, Alpine       2
Trad, TR, Alpine         2
Trad, Sport, Aid         2
Sport, Boulder           1
Name: Route Type, dtype: int64

In [40]:
climbing['Route Type'].nunique()
#this is not true, see below

13

In [41]:
climbing['Route Type'].unique()
#this is not true because it is incorrectly counting 'Sport' as 1, 
# 'Trad, Sport, Aid' as its own value

array(['Sport', 'Trad, Sport, Aid', 'Trad, Sport', 'Trad, TR',
       'Trad, Sport, TR', 'Trad, Sport, Alpine', 'Sport, Alpine',
       'Sport, Aid', 'Trad, TR, Alpine', 'Sport, Boulder', 'Sport, TR',
       'TR', 'Sport, Aid, Alpine'], dtype=object)